<div class="box">
	<h2 id="toggle_readme_block"><a style="cursor:pointer;">README</a></h2>
	
	<div id="readme_at_repo_dir" class="wiki">
	<hr/>
	  <% if html.html_safe.respond_to?(:force_encoding) %>
	    <%= html.html_safe.force_encoding('UTF-8') %>
	  <% else %>
	    <%= html.html_safe %>
	  <% end %>
	</div>
</div>
<script type="text/javascript">
$().ready(function(){
  $("#toggle_readme_block").click(function(){
    $("#readme_at_repo_dir").toggle(500);
  });
});
</script>